<%= form_for(@vaccination) do |f| %>
  <% if @vaccination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vaccination.errors.count, "error") %> prohibited this vaccination from being saved:</h2>

      <ul>
      <% @vaccination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', vaccinations_path, :data=>{:icon=>"back"} %></li>
    </ul>
  </div>

  <ul data-role="listview" data-divider-theme="a" data-inset="true">
    <li data-role="list-divider"><%= f.label :title %></li>
    <li><%= f.text_field :title %></li>

    <li data-role="list-divider"><%= f.label :vacination_type %></li>
    <li><%= f.text_field :vacination_type %></li>

    <li data-role="list-divider"><%= f.label :date %></li>
    <li><%= f.date_select :date%></li>

    <li data-role="list-divider"><%= f.label :description %></li>
    <li><%= f.text_field :description %></li>
    <%= f.hidden_field :owner %>
    
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Cancel', vaccinations_path, :data=>{:icon=>"back"} %></li>
    </ul>
  </div>
<% end %>
