<div data-role="navbar">
	<ul>
		<li><%= link_to 'Edit', edit_vaccination_path(@vaccination), :data=>{:icon=>"edit"} %></li>
		<li><%= link_to 'Delete', @vaccination, method: :delete, :data=> { :confirm=> 'Are you sure?', :icon=>"delete" } %></li>
		<li><%= link_to 'List', vaccinations_path, :data=>{:icon=>"bars"} %>
	</ul>
</div>

<ul data-role="listview" data-divider-theme="a" data-inset="true">
	<li data-role="list-divider">Title</li>
	<li><%= @vaccination.title %></li>
	<li data-role="list-divider">Vaccination Type</li>
	<li><%= @vaccination.vacination_type %></li>
	<li data-role="list-divider">Date</li>
	<li><%= @vaccination.date.strftime('%m-%d-%Y') %></li> 
	<li data-role="list-divider">Description</li>
	<li><%= @vaccination.description %></li>
</ul>