<div data-role="navbar">
	<ul>
		<li><%= link_to 'Edit', edit_note_path(@note), :data=>{:icon=>"edit"} %></li>
		<li><%= link_to 'Delete', @note, method: :delete, :data=> { :confirm=> 'Are you sure?', :icon=>"delete" } %></li>
		<li><%= link_to 'List', notes_path, :data=>{:ajax=>"false", :icon=>"bars"} %>
	</ul>
</div>

<ul data-role="listview" data-divider-theme="a" data-inset="true">
	<li data-role="list-divider">Title</li>
	<li><%= @note.title %></li>
	<li data-role="list-divider">Description</li>
	<li><%= @note.description %></li>
	<li data-role="list-divider">Comments</li>
	<li><%= link_to 'Add comments', :data=>{:icon=>"plus"}, :action=>'new_comment', :id=>@note.id %></li>
	<% @note.comments.each do |comment| %>
	<li>
		<%= comment.notes %>
	</li>
	<% end%>
</ul>

<div data-role="navbar">
	<ul>
		<li><%= link_to 'Edit', edit_note_path(@note), :data=>{:icon=>"edit"} %></li>
		<li><%= link_to 'Delete', @note, method: :delete, :data=> { :confirm=> 'Are you sure?', :icon=>"delete" } %></li>
		<li><%= link_to 'List', notes_path, :data=>{:ajax=>"false", :icon=>"bars"} %>
	</ul>
</div>
