<%= form_for(@doctor_visit) do |f| %>
  <% if @doctor_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doctor_visit.errors.count, "error") %> prohibited this doctor_visit from being saved:</h2>

      <ul>
      <% @doctor_visit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', doctor_visits_path %></li>
    </ul>
  </div>

  <ul data-role="listview" data-inset="true">
    <li data-role="list-divider" data-theme="a">
      <%= f.label :date %>
    </li>
    <li>
      <%= f.datetime_select :date %>
    </li>

    <li data-role="list-divider" data-theme="a">
      <%= f.label :for %>
    </li>
    <li>
      <%= f.text_field :for %>
    </li>

    <li data-role="list-divider" data-theme="a">
      <%= f.label :comment %>
    </li>
    <li>
      <%= f.text_area :comment %>
    </li>
  
    <div class="actions">
      <%= f.submit %>
    </div>
  </ul>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', doctor_visits_path %></li>
    </ul>
  </div>
<% end %>
