<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @doctor_visit.date %>
</p>

<p>
  <b>For:</b>
  <%= @doctor_visit.for %>
</p>

<p>
  <b>Comment:</b>
  <%= @doctor_visit.comment %>
</p>


<%= link_to 'Edit', edit_doctor_visit_path(@doctor_visit) %> |
<%= link_to 'Back', doctor_visits_path %>
