<%= form_for(@feeding) do |f| %>
  <% if @feeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeding.errors.count, "error") %> prohibited this feeding from being saved:</h2>

      <ul>
      <% @feeding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datetime %><br />
    <%= f.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= f.label :feeding_type %><br />
    <%= collection_select(:feeding, :feeding_type, Lookup.where("lookup_name='FeedingType'"), :lookup_key, :lookup_value ) %>
  </div>
  
  <div class="field">
    <%= f.label :no_of_bottles %><br />
    <%= f.number_field :no_of_bottles %>
  </div>
  <!-- we need to make this select tags -->
  <div class="field">
    <%= f.label :wets %>
    <%= f.select(:wets, options_for_select([['No',0], ['Yes',1]], @wets)) %>
    |
    <%= f.label :poops %>
    <%= f.select(:poops, options_for_select([['No',0], ['Yes',1]], @poops)) %>
  </div>
  
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
