<%= form_for(@feeding) do |f| %>
  <% if @feeding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feeding.errors.count, "error") %> prohibited this feeding from being saved:</h2>

      <ul>
      <% @feeding.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', @feeding %></li>
    </ul>
  </div>

  <ul data-role="listview" data-divider-theme="a" data-inset="true">
    <li data-role="list-divider"><%= f.label :datetime %></li>
    <li><%= f.datetime_select :datetime %></li>

    <li data-role="list-divider"><%= f.label :feeding_type %></li>
    <li><%= collection_select(:feeding, :feeding_type, Lookup.where("lookup_name='FeedingType'"), :lookup_key, :lookup_value ) %></li>

    <li data-role="list-divider"><%= f.label :no_of_bottles %></li>
    <li><%= f.number_field :no_of_bottles %></li>

    <li data-role="list-divider"><%= f.label :wets %></li>
    <li><%= f.select(:wets, options_for_select([['No', 0], ['Yes', 1]], @wets)) %></li>

    <li data-role="list-divider"><%= f.label :poops %></li>
    <li><%= f.select(:poops, options_for_select([['No', '0'], ['Yes', '1']], @poops)) %></li>

    <li data-role="list-divider"><%= f.label :comments %></li>
    <li><%= f.text_area :comments %></li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Cancel', @feeding %></li>
    </ul>
  </div>
<% end %>
