<h1>Listing feedings</h1>

<div data-role="navbar" data-bar-theme="c">
    <ul>
        <li><%= link_to 'New...', new_feeding_path %></li>
    </ul>
</div>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider" data-theme="a">
        Current stats for today <%= @date_today.strftime("%m/%d/%Y") %>
    </li>
    <li>Poop count: <%= @poops %></li>
    <li>Wet count: <%= @wets %></li>

    <li data-role="list-divider" data-theme="a">
        Current stats for yesterday <%= (@date_today-1).strftime("%m/%d/%Y") %>
    </li>
    <li>Poop count: <%= @poops_yesterday %></li>
    <li>Wet count: <%= @wets_yesterday %></li>

</ul>

<ul data-role="listview" data-divider-them="b" data-inset="true">
  <% @feedings.each do |feeding| %>
    <li>
        <div style="float: right; margin-right: 50px; font-size:smaller">
        <% if feeding.wets %>
            W&nbsp;
        <% end %>
        <% if feeding.poops %>
            P&nbsp;
        <% end %>
        </div>
        <%= link_to feeding.datetime.strftime('%m/%d/%Y %I:%M%p'), feeding %>
    </li>
  <% end %>
</ul>

<br/>
