<h1>Feeding</h1>
<div data-role="navbar">
  <ul>
    <li><%= link_to 'Edit', edit_feeding_path(@feeding) %></li>
    <li><%= link_to 'Delete', @feeding, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'List', feedings_path %>
  </ul>
</div>

<ul data-role="listview" data-divider-theme="a" data-inset="true">
  <li data-role="list-divider">Date</li>
  <li><%= @feeding.datetime %></li>
  <li data-role="list-divider">Type</li>
  <li><%= @feeding.feeding_type %></li>
  <li data-role="list-divider">Number of bottles</li>
  <li><%= @feeding.no_of_bottles %></li> 

  <% if @feeding.wets %>
  <li data-role="list-divider">Wets</li>
  <li>
    <%= @feeding.wets %>
  </li>
  <% end %>

  <% if @feeding.poops %>
  <li data-role="list-divider">Poops</li>
  <li>
    <%= @feeding.poops %>
  </li>
  <% end %>

  <li data-role="list-divider">Comments</li>
  <li><%= @feeding.comments %></li>
</ul>