<h1>Iya's first</h1>

<li><%= link_to 'Events', events_path %>
<li><%= link_to 'Contacts', contacts_path %>
<li><%= link_to 'Feeding', feedings_path %>
<li><%= link_to 'Vaccinations', vaccinations_path %>
<li><%= link_to 'Doctor Visits', doctor_visits_path %>

