<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', @event %></li>
      <li><%= link_to 'List', events_path %></li>
  </div>

  <ul data-role="listview" data-divider-theme="a" data-inset="true">
    <li data-role="list-divider"><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>

    <li data-role="list-divider"><%= f.label :location %></li>
    <li><%= f.text_field :location %></li>

    <li data-role="list-divider"><%= f.label :description %></li>
    <li><%= f.text_field :description %></li>

    <li data-role="list-divider"><%= f.label :event_date %></li>
    <li><%= f.date_select :event_date%></li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Cancel', @event %></li>
      <li><%= link_to 'List', events_path %></li>
    </ul>
  </div>
<% end %>
