<h1>Event</h1>
<div data-role="navbar">
	<ul>
		<li><%= link_to 'Edit', edit_event_path(@event), :data=>{:icon=>"edit"} %></li>
		<li><%= link_to 'Delete', @event, :method => :delete, :data=>{:icon=>"delete", :confirm=>"Are you sure?"}  %></li>
		<li><%= link_to 'List', events_path, :data=>{:ajax=>"false", :icon=>"bars"} %>
	</ul>
</div>

<ul data-role="listview" data-divider-theme="a" data-inset="true">
	<li data-role="list-divider">Name</li>
	<li><%= @event.name %></li>
	<li data-role="list-divider">Location</li>
	<li><%= @event.location %></li>
	<li data-role="list-divider">Description</li>
	<li><%= @event.description %></li> 
	<li data-role="list-divider">Date</li>
	<li><%= @event.event_date %></li>
</ul>
