<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', @contact, :data=>{:icon=>"back"} %></li>
      <li><%= link_to 'List', contacts_path, :data=>{:icon=>"bars"} %></li>
    </ul>
  </div>

  <ul data-role="listview" data-divider-theme="a" data-inset="true">

    <li data-role="list-divider"><%= f.label :firstname %></li>
    <li><%= f.text_field :firstname %></li>

    <li data-role="list-divider"><%= f.label :lastname %></li>
    <li><%= f.text_field :lastname %></li>

    <li data-role="list-divider"><%= f.label :email %></li>
    <li><%= f.text_field :email %></li>

    <li data-role="list-divider"><%= f.label :phone %></li>
    <li><%= f.text_field :phone%></li>

    <li data-role="list-divider"><%= f.label :address %></li>
    <li><%= f.text_field :address%></li>

    <li data-role="list-divider"><%= f.label :city %></li>
    <li><%= f.text_field :city%></li>

    <li data-role="list-divider"><%= f.label :state %></li>
    <li><%= f.text_field :state%></li>

    <li data-role="list-divider"><%= f.label :zipcode %></li>
    <li><%= f.text_field :zipcode%></li>
    <%= f.hidden_field :owner %>

  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div data-role="navbar" data-theme="b">
    <ul>
      <li><%= link_to 'Cancel', @contact, :data=>{:icon=>"back"} %></li>
      <li><%= link_to 'List', contacts_path, :data=>{:icon=>"bars"} %></li>
    </ul>
  </div>
  
<% end %>
