<div data-role="navbar">
  <ul>
    <li><%= link_to 'Edit', edit_contact_path(@contact) %></li>
    <li><%= link_to 'Delete', @contact, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <li><%= link_to 'List', contacts_path %>
  </ul>
</div>

<ul data-role="listview" data-divider-theme="a" data-inset="true">
  <li data-role="list-divider">Firstname</li>
  <li><%= @contact.firstname %></li>
  <li data-role="list-divider">Lastname</li>
  <li><%= @contact.lastname %></li>
  <li data-role="list-divider">Email</li>
  <li><%= @contact.email %></li> 
  <li data-role="list-divider">Phone</li>
  <li><%= @contact.phone %></li>

  <li data-role="list-divider">Address</li>
  <li><%= @contact.address %></li>

  <li data-role="list-divider">City</li>
  <li><%= @contact.city %></li>

  <li data-role="list-divider">State</li>
  <li><%= @contact.state %></li>

  <li data-role="list-divider">Zipcode</li>
  <li><%= @contact.zipcode %></li>
</ul>